*{
    font-family: Mukta;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    display: grid;
    align-content: center;
    height: 500px;
}

.info{
    text-align: center;
    color: #2730369f;
}

#img-principal{
    border-radius: 100px;
    margin: 10px;
}

#busqueda{
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    padding-right: 10px;
    border-color: #273036;
}

#busqueda:hover{
    box-shadow: 2px 2px 2px rgba(70, 70, 70, 0.397);
}

.main-info{
    margin-bottom: 25px;
}

a{
   text-decoration: none;
   color: #2730369f;
}

a:hover{
    color: #314552;
}

#wave{
    position: absolute;
    bottom: 0px;
    right: 0%;
    left: 0%;
}

#boton-buscar{
    padding: 12px;
    margin-left: -4px;
    border-radius: 0px 30px 30px 0px;
    background-color: #273036;
    border: none;
    color: white;
}

#boton-buscar:hover{
    background-color: #364b5a;
}
